<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head"); %>
    <link rel="stylesheet" href="../public/css/book.css" type="text/css" />
  </head>
  <body>
    <div class = "container">
        <button type = "submit"> Want to Read </button>
        <button type = "submit"> Read it and I loved it! </button>
    </div>