<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head"); %>
    <link rel="stylesheet" href="../public/css/forgot_password.css" type="text/css" />
  </head>
  <body>
    <div class = "container">
        <h6> Enter your new password below </h6>
        <form action = "post">
            <input name = "new_password" /> 
            <input name = "confirm_new_password" />
            <input type = "submit" />
        </form>
    </div>
  </body>