<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head"); %>
  </head>
  <body>
    <div class = "container">
    <form action="/login" method="post">
  	  <!-- user input-->
  	  Username:<br>
  	  <input type="text" name="username" placeholder="Username" required><br><br>
  	  Password:<br>
  	  <input type="password" name="password" placeholder="Password" required><br><br>
  	  <!-- submit button -->
  	  <input type="submit" value="login">
	</form>
  <p> Not a user? Sign up <a href = "/register"> here! </a></p>
    </div>
  </body>
</html>