<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head"); %>
  </head>
  <body>
    <div class = "container">
      <p> How good is your shelf esteem? </p>
      <div class= "liked_books">
        <h1> My Liked Books</h1>
      </div>
      <div class = "to_be_read">
        <h1> TBR </h1>  
      </div>
      <div class = "my_reviews">
        <h1> My Reviews</h1>
      </div>
        <a href = "/logout"> Log Out </a>
    </div>
    </body>
    </html>