<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head"); %>
    <link rel="stylesheet" href="../public/css/profile.css" type="text/css" />
  </head>
  <body>
    <div class = "container">
      <h1> Hi <%= username %>!</h1>
      <h1> How good is your shelf esteem? </h1>
      <div class= "liked_books">
        <h2> My Liked Books</h2>
      </div>
      <div class = "to_be_read">
        <h2> TBR </h2>  
      </div>
      <div class = "my_reviews">
        <h2> My Reviews</h2>
      </div>
      <h2> Looking for something new? Search our catalog <a href = "/search"> here! </a></h2>
      <a href = "/logout"> Log Out </a>
    </div>
    </body>
    </html>