@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h6 {
    font-family: "Yomogi";
    font-size: 20px;
}