@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
    font-family: "Yomogi";
    font-size: 70px;
}

form {
    display: inline-block;
    font-family: "Yomogi";
}

img {
    max-width: 100%;
}

p {
    text-align: center;
    font-family: "Yomogi";
    font-size: 30px;
}

body {
    text-align: center;
}

input {
    padding: 10px;
    border-style: double;
}

