@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

body {
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

a, h2 {
    font-family: "Yomogi";
    text-align: center;
}

a {
    font-size: 30px;
}

.liked_books {
    border: 2px solid;
}

.to_be_read {
    border: 2px solid;
    display: flex;
    flex-direction: row;
}

#book_title {
    font-size: 20px;
}