@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

body {
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

a, h2 {
    font-family: "Yomogi";
    text-align: center;
}

a {
    font-size: 30px;
}