@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

h4 {
    text-align: center;
    font-family: "Yomogi";
    font-size: 30px;
}

h6 {
    text-align: center;
    font-family: "Yomogi";
    font-size: 25px;
}

body {
    justify-content: center;
}

p {
    font-size: 15px;
}

.image {
    display: flex;
    justify-content: center;
}

#nav {
    float: right;
}